<section>
  <header>
    <h1>
      Joey's faves
      <span *ngIf="allBooks() > 0">
        (<strong>{{allBooks()}}</strong>
        {{allBooks() == 1 ? 'item' : 'items'}})
      </span>
    </h1>
    <input
      placeholder="Add a new book (ISBN):"
      [(ngModel)]="newItem"
      (keyup.enter)="addItem()">
  </header>

  <!--section *ngIf="incompleteBooks.length > 0">
    <ul>
      <li *ngFor="let item of incompleteBooks">
        <app-book-card [book]="item" (toggle)="toggleBook($event)" (remove)="removeBook($event)"></app-book-card>
      </li>
    </ul>
  </section>
  <section *ngIf="completeBooks.length > 0">
    <h2>Read:</h2>
    <ul>
      <li *ngFor="let item of completeBooks">
        <app-book-card [book]="item" (toggle)="toggleBook($event)" (remove)="removeBook($event)"></app-book-card>
      </li>
    </ul>
  </section-->

  <section *ngIf="true">
    <ul>
      <li *ngFor="let item of books">
        <app-book-card [book]="item" (toggle)="toggleBook($event)" (remove)="removeBook($event)"></app-book-card>
      </li>
    </ul>
  </section>

</section>
